@import 'mediawiki.mixins';

@base90: #f8f9fa;
@green30: #14866d;
@base-unit: 16px;
@width-breakpoint-desktop-wide: 1200px;

#mediauploader-stepdiv-thanks {
	.mediauploader-thanks-explain,
	.mediauploader-thanks-header {
		width: 100%;
		text-align: center;
	}

	.mediauploader-thanks-explain {
		margin-bottom: 2em;
	}
}
